In [6]:
import os, glob
import pandas as pd

# Transform data only run once

In [7]:
# PATH = "/Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/Dataset/Right"
# NEW_PATH = "/Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/"
# files = glob.glob(PATH + '/*/Landmarks_tibia.csv', recursive=True)
# text = "landmark,x, y, z\n"
# for file in files:
#     with open(file) as f:
#         data = f.read()
#     new_data = text + data
#     splited = file.rsplit('/', 2)
#     path_to_store = NEW_PATH + "{} {}".format(splited[1], splited[2])
#     with open(path_to_store, "w+") as fn:
#         fn.write(new_data)

# Remove tibCMPImportREF

## Only run once

In [8]:
# PATH = "/Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/"
# files = glob.glob(PATH + '/*.csv', recursive=True)
# for file in files:
#     with open(file) as f:
#         data = f.readlines()
#     if "tibCMPImportREF" in data[-1]:
#         new_data = data[:len(data)-1]
#     else:
#         new_data = data
#     new_data = "".join(new_data)
#     splited = file.rsplit('/', 2)
#     path_to_store = file
#     with open(path_to_store, "w+") as fn:
#         fn.write(new_data)

# Data Preprocessing

In [9]:
PATH = "/Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/"
files = glob.glob(PATH + '/*.csv', recursive=True)

In [10]:
#defining known and unknown landmarks
landmarks = [
    "LCLInsertion",
    "MCLInsertion",
    "PCLInsertion",
    "Tubercle",
    "lateralEdge",
    "lateralMalleolus",
    "lateralWell",
    "medialMalleolus",
    "medialWell"
]

known_landmarks = [
    "LCLInsertion",
    "MCLInsertion",
    "PCLInsertion",
    "Tubercle",
    "lateralEdge",
    "lateralMalleolus",
    "lateralWell",
    "medialMalleolus",
]

unknown_landmarks = [
    "medialWell"
]

In [16]:
# Loading train dataset
df = pd.DataFrame()
for i, file in enumerate(files):
    print(i, file)
    df1 = pd.read_csv(file).transpose()
    temp = []
    for item in df1.iloc[0]:
        temp.append(item)
    df1.columns = temp
    df = df.append(df1[1:4])

0 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Davies, Richard (R) Landmarks_tibia.csv
1 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Calms, Trudy (R) Landmarks_tibia.csv
2 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Burge, Diana (R) Landmarks_tibia.csv
3 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Johns, Gregory (R) Landmarks_tibia.csv
4 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Richmond, Stephen (R) Landmarks_tibia.csv
5 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Gunaydin, Belkiz (R) Landmarks_tibia.csv
6 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Steer, Kenneth (R) Landmarks_tibia.csv
7 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Colclough, Norma (R) Landmarks_tibia.csv
8 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Duncan, Beverley (R) Landmarks_tibia.csv
9 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Mo, Sara (R) Landmarks_tibia.csv
10 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Curtis, Malcolm (R) Landmarks_tibia.csv
11 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Veinimae, Stanislawa (R) Landmarks_tibia.csv
12 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Steain, John (R) Landmarks_tibia.csv
13 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Skinner, David (R) Landmarks_tibia.csv
14 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Newman, Kerry (R) Landmarks_tibia.csv
15 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Orsini, Antonietta (R) Landmarks_tibia.csv
16 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Izzard, Grant (R) Landmarks_tibia.csv
17 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Latham, Kim (R) Landmarks_tibia.csv
18 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Blomeley, Gary (R) Landmarks_tibia.csv
19 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Watson, Robert (R) Landmarks_tibia.csv
20 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Luxford, Jacqueline (R) Landmarks_tibia.csv
21 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Frahm, Heinz (R) Landmarks_tibia.csv
22 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Dagostino, Frank (R) Landmarks_tibia.csv
23 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Conomos, Barbara (R) Landmarks_tibia.csv
24 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/O'Beirne, Patrick (R) Landmarks_tibia.csv
25 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Day, Rosemary (R) Landmarks_tibia.csv
26 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Anderson, Phillip (R) Landmarks_tibia.csv
27 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Adams, Peter (R) Landmarks_tibia.csv
28 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Der Sarkissian, Armen (R) Landmarks_tibia.csv
29 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Watters, Janet (R) Landmarks_tibia.csv
30 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Bechara, Therese (R) Landmarks_tibia.csv
31 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Hollings, Edwina (R) Landmarks_tibia.csv
32 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Wilkinson, Judith (R) Landmarks_tibia.csv
33 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Landry, Neil (R) Landmarks_tibia.csv
34 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Hissink, Renee (R) Landmarks_tibia.csv
35 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Lau, May (R) Landmarks_tibia.csv
36 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Middleton, Peggy (R) Landmarks_tibia.csv
37 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Suhood, Baba (R) Landmarks_tibia.csv
38 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Zhang, Xiao Nan (R) Landmarks_tibia.csv
39 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Kelly, Alan (R) Landmarks_tibia.csv
40 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Gardiner, Judith (R) Landmarks_tibia.csv
41 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Clout, Brian (R) Landmarks_tibia.csv
42 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Jones, Pamela (R) Landmarks_tibia.csv
43 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/McGarry, Grant (R) Landmarks_tibia.csv
44 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Fox, Toni (R) Landmarks_tibia.csv
45 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Khoshbouei, Najmiyeh (R) Landmarks_tibia.csv
46 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Carnegie, Christina (R) Landmarks_tibia.csv
47 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Naylor, David (R) Landmarks_tibia.csv
48 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Smith, Scott (R) Landmarks_tibia.csv
49 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Vanzella, Janice (R) Landmarks_tibia.csv
50 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Devcich, Maxine (R) Landmarks_tibia.csv
51 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Djenasevic, Sultana (R) Landmarks_tibia.csv
52 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Hall, Elizabeth (R) Landmarks_tibia.csv
53 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/AuDuong, To Tran (R) Landmarks_tibia.csv
54 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Nolan, Vanessa (R) Landmarks_tibia.csv
55 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Coletti, June (R) Landmarks_tibia.csv
56 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Braund, Haddon (R) Landmarks_tibia.csv
57 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Kargarian, Rouhollah (R) Landmarks_tibia.csv
58 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/McCourt, Jason (R) Landmarks_tibia.csv
59 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Leith, Gail (R) Landmarks_tibia.csv
60 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Lumsdaine, Barry (R) Landmarks_tibia.csv
61 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Ross, John (R) Landmarks_tibia.csv
62 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Samimi, Saman (R) Landmarks_tibia.csv
63 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Roach, Janice (R) Landmarks_tibia.csv
64 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Araghi, Vivien (R) Landmarks_tibia.csv
65 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Morris, Lorraine (R) Landmarks_tibia.csv
66 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Iskov, Dolores (R) Landmarks_tibia.csv

67 /Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-tibia/Ul, Josephine (R) Landmarks_tibia.csv

In [12]:
df.head()

,LCLInsertion,MCLInsertion,PCLInsertion,Tubercle,lateralEdge,lateralMalleolus,lateralWell,medialMalleolus,medialWell
x,-156.79,-74.91,-107.87,-116.95,-149.77,-110.68,-134.9,-51.77,-89.87
y,14.26,-13.29,15.99,-40.7,1.45,56.32,-1.22,17.03,-9.77
z,363.36,386.67,390.89,374.1,382.93,12.39,401.9,26.82,404.52
x,NaN,NaN,NaN,NaN,NaN,-135.123,NaN,-82.4291,NaN
y,NaN,NaN,NaN,NaN,NaN,53.942,NaN,14.0337,NaN

In [13]:
# spliting trin dataset
df_x = df[known_landmarks]
df_y = df[unknown_landmarks]

In [14]:
df_x.head()

,LCLInsertion,MCLInsertion,PCLInsertion,Tubercle,lateralEdge,lateralMalleolus,lateralWell,medialMalleolus
x,-156.79,-74.91,-107.87,-116.95,-149.77,-110.68,-134.9,-51.77
y,14.26,-13.29,15.99,-40.7,1.45,56.32,-1.22,17.03
z,363.36,386.67,390.89,374.1,382.93,12.39,401.9,26.82
x,NaN,NaN,NaN,NaN,NaN,-135.123,NaN,-82.4291
y,NaN,NaN,NaN,NaN,NaN,53.942,NaN,14.0337

In [15]:
df_y.head()

   medialWell
x      -89.87
 y      -9.77
 z     404.52
x         NaN
 y        NaN

In [145]:
# Transforming dataframe so that each patient is represented as 1 example to model

new_known_landmarks = []
for item in df_x.columns:
    new_known_landmarks.append(item + "_x")
    new_known_landmarks.append(item+"_y")
    new_known_landmarks.append(item+"_z")
    
new_df = []
for i in range(0, len(df_x), 3):
    row = [] 
    temp = df_x.iloc(0)
    for item in known_landmarks:
        row.append(temp[i][item])
        row.append(temp[i+1][item])
        row.append(temp[i+2][item])
    new_df.append(row)
new_df_x = pd.DataFrame(new_df)
new_df_x.columns = new_known_landmarks

In [146]:
new_df_x.head()

,anteriorApex_x,anteriorApex_y,anteriorApex_z,quadTendonInsertion_x,quadTendonInsertion_y,quadTendonInsertion_z,patTendonOrigin_x,patTendonOrigin_y,patTendonOrigin_z,MedialEdge_x,MedialEdge_y,MedialEdge_z,LateralEdge_x,LateralEdge_y,LateralEdge_z
0,-85.60220,-36.64970,1365.8301,-87.3317,-32.0526,1385.4024,-86.18950,-27.19840,1350.44300,-68.0331,-23.40920,1372.9776,-109.03990,-31.30150,1372.51990
1,-94.06500,-100.57405,432.2751,-93.9647,-95.5736,454.8592,-100.49655,-89.39410,414.15725,-70.8802,-89.55170,438.1628,-125.16990,-88.19805,443.01155
2,-77.37000,-54.03000,380.8500,-77.9800,-48.7200,401.9500,-80.23000,-44.51000,363.49000,-58.1800,-44.57000,388.2200,-102.48000,-43.47000,390.95000
3,-71.90000,-84.85000,444.8400,-70.7600,-78.3200,468.2700,-72.94000,-76.49000,426.01000,-46.5700,-66.83000,448.4400,-97.67000,-73.14000,454.41000
4,-114.04025,-68.16985,449.5452,-110.1138,-64.4056,469.0220,-110.76915,-58.22195,430.68355,-90.4601,-67.99055,452.2217,-130.07905,-53.76405,457.91805

In [147]:
# Transforming dataframe so that each patient is represented as 1 example to model

new_unknown_landmarks = []
for item in unknown_landmarks:
    new_unknown_landmarks.append(item + "_x")
    new_unknown_landmarks.append(item+"_y")
    new_unknown_landmarks.append(item+"_z")
    
new_df = []
for i in range(0, len(df_y), 3):
    row = [] 
    temp = df_y.iloc(0)
    for item in unknown_landmarks:
        row.append(temp[i][item])
        row.append(temp[i+1][item])
        row.append(temp[i+2][item])
    new_df.append(row)
    
new_df_y = pd.DataFrame(new_df)
new_df_y.columns = new_unknown_landmarks

In [148]:
new_df_y["posteriorApex_x"].head()

0    -86.06870
1    -92.43815
2    -77.30000
3    -69.52000
4   -101.71430
Name: posteriorApex_x, dtype: float64

In [149]:
new_df_x.head()

,anteriorApex_x,anteriorApex_y,anteriorApex_z,quadTendonInsertion_x,quadTendonInsertion_y,quadTendonInsertion_z,patTendonOrigin_x,patTendonOrigin_y,patTendonOrigin_z,MedialEdge_x,MedialEdge_y,MedialEdge_z,LateralEdge_x,LateralEdge_y,LateralEdge_z
0,-85.60220,-36.64970,1365.8301,-87.3317,-32.0526,1385.4024,-86.18950,-27.19840,1350.44300,-68.0331,-23.40920,1372.9776,-109.03990,-31.30150,1372.51990
1,-94.06500,-100.57405,432.2751,-93.9647,-95.5736,454.8592,-100.49655,-89.39410,414.15725,-70.8802,-89.55170,438.1628,-125.16990,-88.19805,443.01155
2,-77.37000,-54.03000,380.8500,-77.9800,-48.7200,401.9500,-80.23000,-44.51000,363.49000,-58.1800,-44.57000,388.2200,-102.48000,-43.47000,390.95000
3,-71.90000,-84.85000,444.8400,-70.7600,-78.3200,468.2700,-72.94000,-76.49000,426.01000,-46.5700,-66.83000,448.4400,-97.67000,-73.14000,454.41000
4,-114.04025,-68.16985,449.5452,-110.1138,-64.4056,469.0220,-110.76915,-58.22195,430.68355,-90.4601,-67.99055,452.2217,-130.07905,-53.76405,457.91805

# Model Training

In [150]:
from sklearn import linear_model

## posteriorApex training

In [151]:
lm_x_po = linear_model.LinearRegression()
model_x = lm_x_po.fit(new_df_x,new_df_y["posteriorApex_x"])
lm_y_po = linear_model.LinearRegression()
model_y = lm_y_po.fit(new_df_x,new_df_y["posteriorApex_y"])
lm_z_po = linear_model.LinearRegression()
model_z = lm_z_po.fit(new_df_x,new_df_y["posteriorApex_z"])

# Prediction testing

In [152]:
PATH = "/Users/apple/Desktop/Development/freelance/upwork/brad-miles/Landmarks-Detection/csvs-test-petella/"
files = glob.glob(PATH + '/*.csv', recursive=True)

In [153]:
# Loading test dataset
df = pd.DataFrame()
for file in files:
    df1 = pd.read_csv(file).transpose()
    temp = []
    for item in df1.iloc[0]:
        temp.append(item)
    df1.columns = temp
    df = df.append(df1[1:4])

In [154]:
# spliting test dataset
df_x = df[known_landmarks]
df_y = df[unknown_landmarks]

In [155]:
# transforming test dataset for prediction
new_known_landmarks = []
for item in df_x.columns:
    new_known_landmarks.append(item + "_x")
    new_known_landmarks.append(item+"_y")
    new_known_landmarks.append(item+"_z")
    
new_df = []
for i in range(0, len(df_x), 3):
    row = [] 
    temp = df_x.iloc(0)
    for item in known_landmarks:
        row.append(temp[i][item])
        row.append(temp[i+1][item])
        row.append(temp[i+2][item])
    new_df.append(row)
new_df_x = pd.DataFrame(new_df)
new_df_x.columns = new_known_landmarks

In [156]:
# transforming test dataset for prediction

new_unknown_landmarks = []
for item in unknown_landmarks:
    new_unknown_landmarks.append(item + "_x")
    new_unknown_landmarks.append(item+"_y")
    new_unknown_landmarks.append(item+"_z")
    
new_df = []
for i in range(0, len(df_y), 3):
    row = [] 
    temp = df_y.iloc(0)
    for item in unknown_landmarks:
        row.append(temp[i][item])
        row.append(temp[i+1][item])
        row.append(temp[i+2][item])
    new_df.append(row)
    
new_df_y = pd.DataFrame(new_df)
new_df_y.columns = new_unknown_landmarks

## posteriorApex_test

In [157]:
#pedict PCL_origin 
predictions_x = lm_x_po.predict(new_df_x)
predictions_y = lm_y_po.predict(new_df_x)
predictions_z = lm_z_po.predict(new_df_x)
posteriorApex_predictions = []
for i, x in enumerate(predictions_z):
    posteriorApex_predictions.append([predictions_x[i], predictions_y[i], x])

In [158]:
posteriorApex_df = pd.DataFrame(posteriorApex_predictions)
posteriorApex_df.columns= ["posteriorApex_x", "posteriorApex_y", "posteriorApex_z"]
print("\nPredicted Values!!!")
posteriorApex_df

Predicted Values!!!

   posteriorApex_x  posteriorApex_y  posteriorApex_z
0      -117.056385       -53.527236       453.839330
1      -136.394740       -74.507183       452.058478
2       -76.258357       -34.003510       447.688188

In [159]:
print("\nActual Values!!!")
new_df_y[["posteriorApex_x", "posteriorApex_y", "posteriorApex_z"]]

Actual Values!!!

   posteriorApex_x  posteriorApex_y  posteriorApex_z
0        -117.2500          -54.940          452.530
1        -138.3247          -70.305          454.733
2         -77.7200          -33.280          449.940